<!doctype html>
<html data-ng-app="portfolio">
    <head data-ng-controller="title">
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css"/>
        
        <!-- libs -->

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        
        <!-- scripts -->

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>

        <!-- templates -->

        <script type="text/ng-template" id="main_page.html">

        </script>

    </head>
    <body data-ng-controller="general">
        <header>
            <img src="img/logo.png" id="header__logo" data-ng-click="openMainPage();" />
            <div id="header__slide" ng-click="a=!a" ng-class="{shown: a}" data-ng-controller="slideController">
                <nav id="header__menu">
                    <ul>
                        <li data-ng-repeat="item in config.top_menu">
                            <a href="{{item.href}}" data-ng-class="{active: item.is_active}">{{item.name}}</a>
                        </li>  
                    </ul>
                </nav>
            </div>
        </header>
        <section data-ng-view></section>
        <footer id="large-header">
            <canvas id="demo-canvas"></canvas>
        </footer>
            <script src="js/bg_effect/rAF.js"></script>
            <script src="js/bg_effect/bg_circles.js"></script>
    </body>
</html>